<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coffee Ver1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/comm.css">
    <link rel="stylesheet" type="text/css" href="/css/coffee.css">

</head>
<body>


<!-- 헤더 위치 -->
<th:block th:insert="~{/comm/header}"></th:block>


<div id="main" style="font-size:large; text-align: center; ">

    <div id="search" style="height: 150px;padding: 15px; font-size: small">
        <h3>[ JavaScript (No jQuery) , No Vo, No Yaml ]</h3>
        <form name="coffeeV1" autocomplete="on" action="/v1/coffee" method="post" onsubmit="return fSearch()">

            <fieldset>
                <legend> [검색조건] </legend>
                <label>등록기간</label><input type="date" id="start_date" name="start_date" min="2020-01-01" max="2024-12-31">
                - <input type="date" id="end_date" name="end_date" min="2020-01-01" max="2024-12-31">
                &nbsp;&nbsp;
                <label>메뉴명</label> <input type="text" id="name" name="name">
                &nbsp;&nbsp;
                <label>종류</label> <select id="kind" name="kind">
                <option value="ALL">전체</option>
                <option value="1.커피">1.커피</option>
                <option value="2.에이드">2.에이드</option>
                <option value="3.스무디">3.스무디</option>
            </select>
                &nbsp;&nbsp;<input type="submit" value="조회" style="width: 80px;height: 30px;font-weight: bold; font-size: medium">
                &nbsp;&nbsp;<button style="width: 80px;height: 30px;font-weight: bold; font-size: medium"><a href="/v1/insert">등록</a></button>
                &nbsp;&nbsp;<button style="width: 80px;height: 30px;font-weight: bold; font-size: medium"><a href="/v1/deleteAll">삭제</a></button>
                <a href="JavaScript:loadDocArray()">ajax</a>
            </fieldset>
        </form>
    </div>


    <table class="table">
        <thead>
        <tr class="tr_td">
            <th>Chk</th>
            <th>ID</th>
            <th>메뉴명</th>
            <th>종류</th>
            <th>가격</th>
            <th>등록일</th>
            <th>수정일</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>


        <tbody id="t_body">
            <!--- 데이타 출력 부분 -->
            <th:block th:each="coffeeV1 : ${list}">
                <tr class="tr_td">
                    <td><input type="checkbox" name="coffee_id" value="ID"></td>
                    <td th:text="${coffeeV1.get('coffee_id')}">ID</td>
                    <td th:text="${coffeeV1.get('name')}">메뉴명</td>
                    <td th:text="${coffeeV1.get('kind')}">종류</td>
                    <td th:text="${coffeeV1.get('price')}">가격</td>
                    <td th:text="${coffeeV1.get('reg_day')}">등록일</td>
                    <td th:text="${coffeeV1.get('mod_day')}">수정일</td>
                    <td><a th:href="@{/v1/update(coffee_id=${coffeeV1.get('coffee_id')})}">수정</a></td>
                    <td><a th:href="@{/v1/delete(coffee_id=${coffeeV1.get('coffee_id')})}">삭제</a></td>
                </tr>
            </th:block>
        </tbody>
    </table>
</div>


<!-- 푸터 위치 -->
<th:block th:replace="~{/comm/footer}"></th:block>


<script>
    /* 현재 시간 날짜에 적용시키기 */
    //document.getElementById("start_date").value=new Date().toISOString().slice(0,10);
    //document.getElementById("end_date").value=new Date().toISOString().slice(0,10);
    const now = new Date();	// 현재 날짜 및 시간
    const time7 = new Date(now.setDate(now.getDate() - 365));	// 1주일전
    document.getElementById("start_date").value= time7.toISOString().slice(0,10);
    document.getElementById("end_date").value= new Date().toISOString().slice(0,10);



    function fSearch(){
        console.log("fSearch..............................................");
        loadDocArray();
        return false;
    }


    function loadDocArrayBak() {
    const xhttp = new XMLHttpRequest();
    
    xhttp.onreadystatechange = function() {

        document.getElementById("t_body").innerHTML = "<img src='/img/loading.gif' alt='Loading'>";

        if (this.readyState == 4 && this.status == 200) {

                document.getElementById("t_body").innerHTML = this.responseText;
        }
    };
    xhttp.open("GET", "/txt/ajax_array2.txt", true);
    xhttp.send();

    }


    function loadDocArray2() {
    
        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        document.getElementById("t_body").innerHTML = "<img src='/img/loading.gif' alt='Loading'>";

        if (this.readyState == 4 && this.status == 200) {

            console.log(this.responseText);
            const myAjax = JSON.parse(this.responseText);
            console.log(myAjax);

            let ajaxTD = "";
            for(let i in myAjax.coffee_list) {

                ajaxTD += '<tr id="tr_loop" className="tr_td">';
                ajaxTD += '<td><input type="checkbox" name="coffee_id" value="ID"></td>';
                ajaxTD += '<td>' + myAjax.coffee_id + '</td>';
                ajaxTD += '<td>' + myAjax.name + '</td>';
                ajaxTD += '<td>' + myAjax.kind + '</td>';
                ajaxTD += '<td>' + myAjax.price + '</td>';
                ajaxTD += '<td>' + myAjax.reg_day + '</td>';
                ajaxTD += '<td>' + myAjax.mod_day + '</td>';
                ajaxTD += '<td><a th:href="/v1/update(coffee_id=' + myAjax.coffee_id + '">수정</a></td>';
                ajaxTD += '<td><a th:href="/v1/delete(coffee_id=' + myAjax.coffee_id + '">삭제</a></td>';
                ajaxTD += '</tr>';

            }
                document.getElementById("t_body").innerHTML = this.responseText;
        };
        };
        xhttp.open("GET", "/txt/ajax_array2.txt", true);
        xhttp.send();

        };


    function loadDocArray() {

    const xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    document.getElementById("t_body").innerHTML = "<img src='/img/loading.gif' alt='Loading'>";

    if (this.readyState == 4 && this.status == 200) {

        console.log(this.responseText);
        const myAjax = JSON.parse(this.responseText);
        console.log(myAjax);

        let ajaxTD = "";
        for(let i in myAjax.coffee_list) {

            ajaxTD += '<tr id="tr_loop" className="tr_td">';
            ajaxTD += '<td><input type="checkbox" name="coffee_id" value="ID"></td>';
            ajaxTD += '<td>' + myAjax.coffee_list[i].coffee_id + '</td>';
            ajaxTD += '<td>' + myAjax.coffee_list[i].name + '</td>';
            ajaxTD += '<td>' + myAjax.coffee_list[i].kind + '</td>';
            ajaxTD += '<td>' + myAjax.coffee_list[i].price + '</td>';
            ajaxTD += '<td>' + myAjax.coffee_list[i].reg_day + '</td>';
            ajaxTD += '<td>' + myAjax.coffee_list[i].mod_day + '</td>';
            ajaxTD += '<td><a th:href="/v1/update(coffee_id=' + myAjax.coffee_id + '">수정</a></td>';
            ajaxTD += '<td><a th:href="/v1/delete(coffee_id=' + myAjax.coffee_id + '">삭제</a></td>';
            ajaxTD += '</tr>';

        }
            document.getElementById("t_body").innerHTML = ajaxTD;
    };
    };
    xhttp.open("GET", "/txt/ajax_array2.txt", true);
    xhttp.send();

    };


</script>
</body>
</html>